pipeline/pipeDimPricelist.json
{
	"name": "pipeDimPricelist",
	"properties": {
		"activities": [
			{
				"name": "Truncate stagePricelist",
				"type": "Script",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "SIWIDBConn",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": "TRUNCATE TABLE stage.Pricelist"
						}
					]
				}
			},
			{
				"name": "Get LastLoadDate DimPricelist",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Truncate stagePricelist",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[dbo].[GetLastLoadDate]",
						"storedProcedureParameters": {
							"TableName": {
								"type": "String",
								"value": "DimPricelist"
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "dsLastLoadDate",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Load stageDimPricelist",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Get LastLoadDate DimPricelist",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "HttpReadSettings",
							"requestMethod": "POST",
							"additionalHeaders": "Content-Type: application/json",
							"requestBody": {
								"value": "@{concat('{ \"query\" : \"query {\n  pricelists(first: 1000, filter: {ownerDbId: 23003234, modifiedAt_gte: \\\"',activity('Get LastLoadDate DimPricelist').output.firstrow.LastLoadDate,'\\\"}) {\n    edges {\n      node {\n        pricelist {\n          dbId\n          code\n          description\n        }\n        price\n        objectValue {\n          description\n        }\n      }\n    }\n  }\n}\"}')}",
								"type": "Expression"
							},
							"requestTimeout": ""
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"path": "['node']['pricelist']['dbId']"
								},
								"sink": {
									"name": "_PricelistKey",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['node']['pricelist']['code']"
								},
								"sink": {
									"name": "code",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['node']['pricelist']['description']"
								},
								"sink": {
									"name": "description",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['node']['price']"
								},
								"sink": {
									"name": "price",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"path": "['node']['objectValue']['description']"
								},
								"sink": {
									"name": "rankDescription",
									"type": "String"
								}
							}
						],
						"collectionReference": "$['data']['pricelists']['edges']"
					}
				},
				"inputs": [
					{
						"referenceName": "JSONEXL",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "dsStagePricelist",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Update Exledger Key",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "Load stageDimPricelist",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "SIWIDBConn",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": "UPDATE stage.Pricelist\nSET _PricelistKey = 'EXL|' + '|' + _PricelistKey + '|' + rankDescription"
						}
					]
				}
			},
			{
				"name": "Upsert DimPricelist",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Update Exledger Key",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[UpsertDimPricelist]"
				},
				"linkedServiceName": {
					"referenceName": "SIWIDBConn",
					"type": "LinkedServiceReference"
				}
			}
		],
		"annotations": []
	}
}