pipeline/pipedDimProject.json
{
	"name": "pipedDimProject",
	"properties": {
		"activities": [
			{
				"name": "Truncate stageProject",
				"type": "Script",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "SIWIDBConn",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": "TRUNCATE TABLE stage.Project"
						}
					]
				}
			},
			{
				"name": "Get LastLoadDate DimProject",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Truncate stageProject",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[dbo].[GetLastLoadDate]",
						"storedProcedureParameters": {
							"TableName": {
								"type": "String"
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "dsLastLoadDate",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Load stageProject",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Get LastLoadDate DimProject",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "HttpReadSettings",
							"requestMethod": "POST",
							"additionalHeaders": "Content-Type: application/json",
							"requestBody": {
								"value": "@{concat('{ \"query\" : \"query {\n  projects(last: 10000, filter:{modifiedAt_gte:\\\"',activity('Get LastLoadDate DimProject').output.firstrow.LastLoadDate,'\\\"}) {\n    edges {\n      node {\n        accessControl\n        activity\n        billable\n        code\n        createdAt\n        dbId\n        description\n        email\n        fromDate\n        fundProject\n        modifiedAt\n        shortInfo\n        shortInternalInfo\n        text\n        timesheetEntry\n        toDate\n        totalCost\n        totalEstimateHours\n        totalRevenue\n        yearlyCost\n        yearlyEstimateHours\n        yearlyRevenue\n        projectGroup {\n          code\n          dbId\n          description\n        }\n        glObject2 {\n          code\n          dbId\n          description\n        }\n        mainProjectDbId\n        mainProject {\n          code\n          description\n        }\n      }\n    }\n  }\n}\"}')}",
								"type": "Expression"
							},
							"requestTimeout": ""
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"path": "$['data']['projects']['edges'][0]['node']['accessControl']"
								},
								"sink": {
									"name": "accessControl",
									"type": "Boolean"
								}
							},
							{
								"source": {
									"path": "$['data']['projects']['edges'][0]['node']['activity']"
								},
								"sink": {
									"name": "activity",
									"type": "Boolean"
								}
							},
							{
								"source": {
									"path": "$['data']['projects']['edges'][0]['node']['billable']"
								},
								"sink": {
									"name": "billable",
									"type": "Boolean"
								}
							},
							{
								"source": {
									"path": "$['data']['projects']['edges'][0]['node']['code']"
								},
								"sink": {
									"name": "code",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['data']['projects']['edges'][0]['node']['createdAt']"
								},
								"sink": {
									"name": "createdAt",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"path": "$['data']['projects']['edges'][0]['node']['dbId']"
								},
								"sink": {
									"name": "_ProjectKey",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['data']['projects']['edges'][0]['node']['description']"
								},
								"sink": {
									"name": "description",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['data']['projects']['edges'][0]['node']['email']"
								},
								"sink": {
									"name": "email",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['data']['projects']['edges'][0]['node']['fromDate']"
								},
								"sink": {
									"name": "fromDate",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"path": "$['data']['projects']['edges'][0]['node']['fundProject']"
								},
								"sink": {
									"name": "fundProject",
									"type": "Boolean"
								}
							},
							{
								"source": {
									"path": "$['data']['projects']['edges'][0]['node']['modifiedAt']"
								},
								"sink": {
									"name": "modifiedAt",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"path": "$['data']['projects']['edges'][0]['node']['shortInfo']"
								},
								"sink": {
									"name": "shortInfo",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['data']['projects']['edges'][0]['node']['shortInternalInfo']"
								},
								"sink": {
									"name": "shortInternalInfo",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['data']['projects']['edges'][0]['node']['text']"
								},
								"sink": {
									"name": "text",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['data']['projects']['edges'][0]['node']['timesheetEntry']"
								},
								"sink": {
									"name": "timesheetEntry",
									"type": "Boolean"
								}
							},
							{
								"source": {
									"path": "$['data']['projects']['edges'][0]['node']['toDate']"
								},
								"sink": {
									"name": "toDate",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"path": "$['data']['projects']['edges'][0]['node']['totalCost']"
								},
								"sink": {
									"name": "totalCost",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"path": "$['data']['projects']['edges'][0]['node']['totalEstimateHours']"
								},
								"sink": {
									"name": "totalEstimateHours",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"path": "$['data']['projects']['edges'][0]['node']['totalRevenue']"
								},
								"sink": {
									"name": "totalRevenue",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"path": "$['data']['projects']['edges'][0]['node']['yearlyCost']"
								},
								"sink": {
									"name": "yearlyCost",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"path": "$['data']['projects']['edges'][0]['node']['yearlyEstimateHours']"
								},
								"sink": {
									"name": "yearlyEstimateHours",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"path": "$['data']['projects']['edges'][0]['node']['yearlyRevenue']"
								},
								"sink": {
									"name": "yearlyRevenue",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"path": "$['data']['projects']['edges'][0]['node']['projectGroup']['code']"
								},
								"sink": {
									"name": "code",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['data']['projects']['edges'][0]['node']['projectGroup']['dbId']"
								},
								"sink": {
									"name": "_ProjectGroupKey",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['data']['projects']['edges'][0]['node']['projectGroup']['description']"
								},
								"sink": {
									"name": "description",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['data']['projects']['edges'][0]['node']['glObject2']['code']"
								},
								"sink": {
									"name": "code",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['data']['projects']['edges'][0]['node']['glObject2']['dbId']"
								},
								"sink": {
									"name": "glObject2Code",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['data']['projects']['edges'][0]['node']['glObject2']['description']"
								},
								"sink": {
									"name": "glObject2Description",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['data']['projects']['edges'][0]['node']['mainProjectDbId']"
								},
								"sink": {
									"name": "_CostCenterKey",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['data']['projects']['edges'][0]['node']['mainProject']"
								},
								"sink": {
									"name": "_MainProjectKey",
									"type": "String"
								}
							}
						],
						"collectionReference": "$['data']['projects']['edges']"
					}
				},
				"inputs": [
					{
						"referenceName": "JSONEXL",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "dsStageProject",
						"type": "DatasetReference"
					}
				]
			}
		],
		"annotations": []
	}
}