pipeline/pipeline3.json
{
	"name": "pipeline3",
	"properties": {
		"activities": [
			{
				"name": "Truncate stageAccount",
				"type": "Script",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "SIWIDBConn",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": "TRUNCATE TABLE stage.Account"
						}
					]
				}
			},
			{
				"name": "Get LastLoadDate DimAccount",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Truncate stageAccount",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[dbo].[GetLastLoadDate]",
						"storedProcedureParameters": {
							"TableName": {
								"type": "String",
								"value": "DimAccount"
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "dsLastLoadDate",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Load stageAccount",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Get LastLoadDate DimAccount",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "HttpReadSettings",
							"requestMethod": "POST",
							"additionalHeaders": "Content-Type: application/json",
							"requestBody": {
								"value": "@{concat('{ \"query\" : \"query {\n  accounts(last: 10000, filter: {modifiedAt_gt:\\\"',activity('Get LastLoadDate DimAccount').output.firstrow.LoadDate,'\\\"}) {\n    edges {\n      node {\n        asset\n        balanceSheet\n        code\n        cost\n        credit\n        dbId\n        description\n        equity\n        finance\n        liabilities\n        modifiedAt\n        posting\n        revenue\n        accountGroupDbId\n      }\n    }\n  }\n}\"}')}",
								"type": "Expression"
							},
							"requestTimeout": ""
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"path": "['node']['asset']"
								},
								"sink": {
									"name": "asset",
									"type": "Boolean"
								}
							},
							{
								"source": {
									"path": "['node']['balanceSheet']"
								},
								"sink": {
									"name": "balanceSheet",
									"type": "Boolean"
								}
							},
							{
								"source": {
									"path": "['node']['code']"
								},
								"sink": {
									"name": "code",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['node']['cost']"
								},
								"sink": {
									"name": "cost",
									"type": "Boolean"
								}
							},
							{
								"source": {
									"path": "['node']['credit']"
								},
								"sink": {
									"name": "credit",
									"type": "Boolean"
								}
							},
							{
								"source": {
									"path": "['node']['dbId']"
								},
								"sink": {
									"name": "_AccountKey",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['node']['description']"
								},
								"sink": {
									"name": "description",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['node']['equity']"
								},
								"sink": {
									"name": "equity",
									"type": "Boolean"
								}
							},
							{
								"source": {
									"path": "['node']['finance']"
								},
								"sink": {
									"name": "finance",
									"type": "Boolean"
								}
							},
							{
								"source": {
									"path": "['node']['liabilities']"
								},
								"sink": {
									"name": "liabilities",
									"type": "Boolean"
								}
							},
							{
								"source": {
									"path": "['node']['modifiedAt']"
								},
								"sink": {
									"name": "modifiedAt",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"path": "['node']['posting']"
								},
								"sink": {
									"name": "posting",
									"type": "Boolean"
								}
							},
							{
								"source": {
									"path": "['node']['revenue']"
								},
								"sink": {
									"name": "revenue",
									"type": "Boolean"
								}
							},
							{
								"source": {
									"path": "['node']['accountGroupDbId']"
								},
								"sink": {
									"name": "_AccountGroupKey",
									"type": "String"
								}
							}
						],
						"collectionReference": "$['data']['accounts']['edges']"
					}
				},
				"inputs": [
					{
						"referenceName": "JSONEXL",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "dsStageAccount",
						"type": "DatasetReference"
					}
				]
			}
		],
		"annotations": []
	}
}